.overlay-link {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    margin: 10% 30% 10% 30%;
    z-index: 10000;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.closeoverlay {
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

section.hidden-overlay {
    display: none;
}